<section ng-controller="HomeController">
  <div class="row helei-logo-row">
    <div class="col-xs-12 helei-logo-col">
    </div>
  </div>
  <div class="row top-bar-tab">
    <div class="col-xs-4 top-bar-tab-inbox">

    </div>
    <div class="col-xs-4 top-bar-tab-location">

    </div>
    <div class="col-xs-4 top-bar-tab-create">

    </div>
  </div>
  <div class="row map-api-row">
    <div class="col-xs-12 map-api-col">
      <div map-lazy-load="https://maps.google.com/maps/api/js">
        <ng-map center="41,-87" zoom="3"></ng-map>
      </div>
    </div>
  </div>
  <div class="row public-event-nearby-row">
    <div class="col-xs-12 public-event-nearby-col">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</section>
