<section ng-controller="HomeController">

  <div class="row helei-logo-row">
    <div class="col-xs-12 helei-logo-col">
    </div>
  </div>

  <div class="row top-bar-tab">

    <uib-tabset justified="false">

    <uib-tab heading="Location">

    <a ng-click="location()">

    <div class="col-xs-4 top-bar-tab-location">

    </div>
      <div class="col-xs-8 top-bar-tab-searchbar">

          <label for="slocation"></label>
          <input name="slocation" type="slocation" ng-model="slocation" id="slocation" class="form-control" placeholder="sLocation">

        <label for="szoom"></label>
        <input name="szoom" type="szoom" ng-model="szoom" id="szoom" class="form-control" placeholder="szoom">


      </div>
    </a>
      <div class="row map-api-row">
        <div class="col-xs-12 map-api-col">
          <div map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map center="18.2106745, -66.4506886" zoom="{{szoom}}" zoom-control="false" map-type-control="false" street-view-control="false">
              <section ng-controller="ArticlesController" ng-init="find()">
              <marker ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})" position="{{article.elocation}}">
             </marker>

                </section>
              <marker position="{{slocation}}" icon="{url:'/modules/core/client/img/brand/helei-marker.png', scaledSize:[40,53]}"  animation="DROP" on-click="toggleBounce()"></marker>
            </ng-map>

          </div>
        </div>
      </div>

      <div class="row public-event-nearby-header-row">
        <div class="col-xs-12 public-event-nearby-header-col">
          <p>Public Events Nearby</p>
        </div>
      </div>

      <div class="row public-event-nearby-row">
        <div class="col-xs-12 public-event-nearby-col">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <!-- List group -->

            <section ng-controller="ArticlesController" ng-init="find()">
              <div class="list-group">
                <a ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})" class="list-group-item">
                  <div class="background-image"></div>
                  <div class="front-display">
                    <small class="list-group-item-text">
                      Posted on
                      <span ng-bind="article.created | date:'mediumDate'"></span>
                      by
                      <span ng-bind="article.user.displayName"></span>
                    </small>
                    <h4 class="list-group-item-heading" ng-bind="article.etitle"></h4>

                    <p class="list-group-item-text" ng-bind="article.econtent"></p>
                    <p class="list-group-item-text" ng-bind="article.edate"></p>
                    <p class="list-group-item-text" ng-bind="article.elocation"></p>
                    <p class="list-group-item-text" ng-bind="article.ecategory"></p>
                  </div>
                </a>
              </div>
              <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
                No event yet, why don't you <a ui-sref="articles.create">create one</a>?
              </div>
            </section>
          </div>
        </div>
      </div>

    </uib-tab>


      <uib-tab heading="Inbox">
        <div class="col-xs-4 top-bar-tab-inbox">

        </div>
        <div class="row">

          <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
            <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
              <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
              <ul ng-switch-when="dropdown" class="dropdown-menu">
                <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
                  <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
                </li>
              </ul>
              <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
            <li ui-sref-active="active">
              <a ui-sref="authentication.signup">Sign Up</a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-sref-active="active">
              <a ui-sref="authentication.signin">Sign In</a>
            </li>
          </ul>

        <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
          <li class="dropdown" dropdown>
            <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
              <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
              <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ui-sref-active="active">
                <a ui-sref="settings.profile">Edit Profile</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="settings.picture">Change Profile Picture</a>
              </li>
              <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
                <a ui-sref="settings.password">Change Password</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="settings.accounts">Manage Social Accounts</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="/api/auth/signout" target="_self">Signout</a>
              </li>

            </ul>
          </li>
          </ul>

        </div>




      </uib-tab>



      <uib-tab heading="Event">
    <div class="col-xs-4 top-bar-tab-create">

    </div>

        <section ng-controller="ArticlesController">
          <div class="page-header">
            <h1> : {{etitle}} </h1>
          </div>
          <div class="col-xs-12">
            <form name="articleForm" class="form-horizontal" ng-submit="create(articleForm.$valid)" novalidate>
              <fieldset>
                <div class="row"><div class="col-xs-12">
                <div class="form-group" show-errors>
                  <label for="etitle">eTitle</label>
                  <input name="etitle" type="text" ng-model="etitle" id="etitle" class="form-control" placeholder="eTitle" required>
                  <div ng-messages="articleForm.title.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Article title is required.</p>
                  </div>
                </div>
                  </div></div>
                <div class="row"><div class="col-xs-12">
                <div class="form-group">
                  <label for="econtent">eContent</label>
                  <textarea name="econtent" ng-model="econtent" id="econtent" class="form-control" cols="30" rows="10" placeholder="eContent"></textarea>
                </div>
                </div></div>

                <div ng-controller="DatepickerDemoCtrl">
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                      </p>
                    </div>
                  </div>

                </div>

                <div class="row"><div class="col-xs-12">

                <div class="form-group">
                  <label for="ecategory">eCategory</label>
                  <input name="ecategory" type="text" ng-model="ecategory" id="ecategory" class="form-control" placeholder="eCategory" required>
                </div>

                </div></div>
                <div class="row"><div class="col-xs-12">
                <div class="form-group">
                  <label for="elocation">eLocation</label>
                  <input name="elocation" type="elocation" ng-model="elocation" id="elocation" class="form-control" placeholder="eLocation" required>
                </div>
                  </div></div>

               <!-- <div class="row"><div class="col-xs-12">
                <div class="text-center form-group" ng-hide="uploader.queue.length">
                  <span class="btn btn-default btn-file">Select Image <input type="file" nv-file-select uploader="uploader">
                  </span>
                </div>
                  </div></div>-->

                <div class="row"><div class="col-xs-12">
                <div class="form-group">
                  <input type="submit" class="btn btn-default">
                </div>
                  </div></div>
                <div ng-show="error" class="text-danger">
                  <strong ng-bind="error"></strong>
                </div>
              </fieldset>
            </form>
          </div>
        </section>

      </uib-tab>
    </uib-tabset>
  </div>

</section>