.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  height: 100%;

}
.col-xs-12.date-label-col {
  text-align: center;
}
.gmnoprint {
  cursor: default;
  height: 0;
  width: 0;
}

li.uibtab-heading-location.ng-isolate-scope.active {

  background-image: url('/modules/core/client/img/brand/location-active.png');

}

li.uibtab-heading-location.ng-isolate-scope {

  background-image: url('/modules/core/client/img/brand/location.png');

}
li.uibtab-heading-inbox.ng-isolate-scope.active {

  background-image: url('/modules/core/client/img/brand/inbox-active.png');

}

li.uibtab-heading-inbox.ng-isolate-scope {

  background-image: url('/modules/core/client/img/brand/inbox.png');

}

li.uibtab-heading-create.ng-isolate-scope.active {

  background-image: url('/modules/core/client/img/brand/create-active.png');

}

li.uibtab-heading-create.ng-isolate-scope {

  background-image: url('/modules/core/client/img/brand/create.png');

}



.col-xs-12.article-view-col {
  height: 15%;
  background: white;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  align-items: center;
}

.label-date-col{
  padding: 0;

}
.location-auto-complete-col{
  padding: 0;
}
input#elocation {
  width: 100%;
}

.date-label-col{
  padding: 0;
}

.cm.ng-scope {
  background: white;
  font-size: 14px;
  height: 100%;
  width: 100%;
}


.modal-dialog {
  position: relative;
  width: 388px;
  margin: 0;
  height: 600px;
  padding: 0;
  background-image: url('../../../../modules/core/client/img/brand/spash.png');
  background-repeat: no-repeat;
  background-size: 100%;
}


.modal-body {

  background: transparent;
}
.modal-content {
  background: transparent;
  border: 0;
  box-shadow: 0 0 0 black;
}




.custom-marker:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 6px 0;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -6px;
  bottom: -6px;
  left: 50%;
}

.custom-marker.front-display {
  background: white;
  font-size: 10px;
}
.tab-content {

}

ul.nav.nav-tabs {
  height: 75px;
  text-align: center;

  background-repeat: no-repeat;
  background-size: 90%;
  padding: 0;
  margin: 0;
  background-position-x: 20px;
}
.nav-tabs > li > a {
  color: #555;
  cursor: default;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  height: 100%;

}


ul.nav.nav-tabs {
  height: 75px;
  text-align: center;
  border-bottom: 1px solid black;
}

li.active {
  width: 33%;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  width: 33%;
}

html {
  background: #FFCB53;
  
}
.row.helei-logo-row {
  background: white;
  margin: 0;
  padding: 0;
  margin-top: -10px;
}
body{
  background: transparent;
}
.nav-tabs > li > a {
  background: transparent;
}


li.uibtab-heading-location {

  height: 75px;
  text-align: center;
 background-size: 65px;
  background-repeat: no-repeat;

  padding: 0;
  margin: 0;
  background-position-x: 50%;
}
.col-xs-12.articles-col {

  margin: 0;
}
li.uibtab-heading-inbox {

  height: 75px;
  text-align: center;
  background-size: 55px;
  background-repeat: no-repeat;

  padding: 0;
  margin: 0;
  background-position-x: 50%;
}

li.uibtab-heading-create {

  height: 75px;
  text-align: center;
  background-size: 55px;
  background-repeat: no-repeat;

  padding: 0;
  margin: 0;
  background-position-x: 50%;
}


.row.inverse-navbar-row {
  text-align: center;
}
button.btn.btn-default.btn-lg {
  background: transparent;
  border: transparent;
}
.glyphicon-menu-down:before {
  color: #FFD566;
  border: #FFD566;
}
.glyphicon-menu-up:before {
  color: black;
  border: black;
}
header.navbar.navbar-fixed-bottom.navbar-inverse {
  background: transparent;
  border: transparent;
  margin: 0;
  padding: 0;
}

ul.nav.navbar-nav.navbar-right {
  text-align: end;
  padding: 2%;
}
.content {
  margin-top: 10px;
}
.row{
  margin: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.col-xs-12.public-event-nearby-col {
  height: 185px;
  overflow-y: scroll;
  z-index: 1000;
  margin: 0;
  padding: 0;
  margin-top: -25px;
}
.col-xs-12.helei-logo-col {
  background-image: url('/modules/core/client/img/brand/helei-logo3.png');
  height: 80px;
  background-size: 150px 75px;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 999;
  margin-bottom: -10px;
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
  background: rgba(0, 0, 0, 0.06);
}
.col-xs-4.top-bar-tab-inbox {

  height: 50px;
  background-size: 45px 40px;
  background-repeat: no-repeat;
  background-position: 50%;
}


.col-xs-4.top-bar-tab-location {
  background-image: url('/modules/core/client/img/brand/location.png');
  height: 50px;
  background-size: 45px 40px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.col-xs-12.top-bar-tab-create {

  height: 50px;

}
.row.top-bar-tab {
  margin: 0;
  padding: 0;
  z-index: 1000;
  margin-bottom: 0;
  border-bottom: 1px solid black;
  background: white;
}

.row.article-view-row {
  padding-right: 15px;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
}

.col-xs-12.map-api-col{
  margin: 0;
  padding: 0;

}

.tab-pane.ng-scope.active {
  background: #FFCB53;
}
.col-xs-12.public-event-nearby-header-col {
  height: 50px;
  z-index: 1000;
  margin-top: -25px;
  text-align: center;
  background: #FFCB53;
}

.col-xs-12.public-event-nearby-header-col {
  background: #FFCB53;
  font-size: 20px;
  font-family: ubuntu;
  border-top: 1px solid black;
}

ng-map {
  height: 90%;
  width: 100%;
  border-bottom: 1px solid black;
}


.col-xs-5.calendar-event-start-col {
  height: 100%;
  margin-top: 7%;
  padding-right: 0;
}

.row.event-date-start-row {
  height: 100px;
}
.col-xs-1.calendar-glyph-start-col {
  margin-top: 8%;
  padding-left: 10px;

}
.col-xs-5.calendar-event-end-col {
  height: 100%;
  margin-top: 7%;
  padding-right: 0;
}

.row.event-date-end-row {
  height: 100px;
}
.col-xs-1.calendar-glyph-end-col {
  margin-top: 8%;
  padding-left: 10px;

}
